body {
    background: #527B65;

}

header {
    background: #F8F8F0;
    display: flex;
    justify-content: space-around;
}

.button {
    width: 10em;
    height: 10em;
}

.logo {
    width: 5em;
    height: 5em;
}

.nav {
    background: #236154;
    display: flex;
    justify-content: space-around;
    font-size: 2.2em;
}

a {
    color: white;
}

.half {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 50em;
}

