* {
    margin:0;
    padding: 0;
}

body {
    background: #527B65;
}

header {
    background: #F8F8F0;
    display: flex;
    justify-content: space-around;
}

header h1{
    font-size:2em;
    color:black;
}

.button {
    width: 6em;
    height: 6em;
}

.logo {
    width: 5em;
    height: 5em;
}

.nav {
    background: #236154;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    padding: 5px;
}

a {
    background-color: #4B95A9;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

.half {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 50em;
}

h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:50px;
    
    }

    p {
        color: white;
        font-size: 20px;
    }
    
    h2 {
        color:white;
        font-size:42px;
    }

    .pro {
	    top: 70px;
	    left: 50px;
        height: 600px;
        width: 500px;
    }

      .img {
        flex: 0 0 auto;
      }

      .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .container {
        display: flex;
      }
      
     .frame {
        display: flex;
        flex:1;
        margin-right:20px ;
     } 

     .frame img {
        max-width: 100%;
        height:auto;
        margin-right:10px;
     }

     .column {
        display: flex;
        flex-direction: column;
        margin-right: 200px;
     }

     .bottom {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
     }

     .text {
        display:flex;
        flex-direction: column;
     }

     .center {
        display: column;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        margin-top: 100px;
     }

     h4 {
        color: white;
     }

     h3 {
        color: white;
        font-size: larger;
     }