body {
    background:#F8F8F0;
    font-family:'Trebuchet MS';
}


/*.cartItem {
    background-color:#D8D8D8;
    padding: 0.5rem;
    transition: box-shadow 500ms ease;
    display: flex;
    gap: 1em;
    position: relative;
    margin: 1em;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);

}

.cartItem img {
    height: auto;
    max-width: 10%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    flex-shrink: 1;
}*/

.item {
    display: flex;
    justify-content: space-between;
}

.item, .suggest {
    background-color:#D9D9D9;
    margin: 1em;
    padding: 1em;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
}

h1, h2, p {
    color: #14183B;
}

.checkout a {
    background-color: #4B95A9;
    border: black;
    color: white;
    padding: 15px 32px;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 25px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);
}

.checkout a:hover {
    background-color: black;
    transition: background-color 500ms ease;
}

.total {
    display: flex;
    justify-content: flex-start;
    row-gap: 6em;
    margin: 1em;
    font-size: 20px;
}

/*cart items*/

.cartItem:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.prodImage {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.prodPrice::before {
    content: "$ ";
}

.prodPrice {
    display: inline-block;
    margin-top: 0.5em;
}


.prodBtn,
.removeBtn,
#emptyCart {
    display: block;
    float: right;
    background-color: #4B95A9;
    color: white;
    padding: 1em;
    text-decoration: none;
    border-radius: 0.5em;
    transition: background-color 500ms ease;
}

.removeBtn,
#emptyCart {
    background-color: black;
}
.removeBtn:hover,
#emptyCart:hover {
    background-color: red;
}

#emptyCart {
    margin-top: 0.5em;
}

#cart {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 25vh;
    gap: 1em;
    margin-bottom: 2rem;
}

.cartItem {
    border: solid 1px black;
    background-color:#D8D8D8;
    padding: 0.5rem;
    transition: box-shadow 500ms ease;
    display: flex;
    gap: 1em;
    position: relative;
}

.cartItem img {
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    flex-shrink: 1;
}

.cartItem .cartItemInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartItem .cartItemPricing {
    display: flex;
    justify-content: space-between;
}

.cartTotal {
    text-align: right;
}

header,
h2 {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

nav>a {
    background-color: rgb(26, 118, 209);
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    margin-left: 1rem;
}

nav>a:hover {
    color: yellow;
    background-color: rgb(26, 118, 209);
}

#cartItemCount::before {
    content: " (";
}

#cartItemCount::after {
    content: ")";
}

@media only screen and (max-width: 640px) {
    #products {
        padding: 1em;
        grid-template-columns: repeat(1, 1fr);
    }
}

