body {
    background:#F8F8F0;    
}

.item {
    background-color:#D9D9D9;
    margin: 1em;
}

h1 {
    text-align: center;
}

h1, h2, p {
    color: #14183B;
    font-family: Arial;
}

.suggest {
    background-color: #D9D9D9;
    margin: 1em;
}

a {
    background-color: #4B95A9;
    border: black;
    color: white;
    padding: 15px 32px;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}