* {
    margin:0;
    padding: 0;
}

body {
    background: #527B65;
    font-family: 'trebuchet MS';
}

header {
    background: #F8F8F0;
    display: flex;
    justify-content: space-around;
}

header h1{
    display: flex;
    font-size:2em;
    color:black;
    align-items: center;
}

.logo {
    width: 5em;
    height: 5em;
}

.button {
    width: 10em;
    height: 10em;
}

.nav {
    background: #236154;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    padding: 5px;
}

a {
    background-color: #4B95A9;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

.enter a, .confirm a {
    margin: 1em;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);
}

h1 {
    color: white;
    text-align: center;
    margin: 1em;
}

header h1 {
    color: black;
}

h2 {
    color: white;
    margin: 1em;
}

p {
    color: #F8F8F0;
    margin-top: 1em;
    margin-left: 2em;
}

input {
    margin-left: 2em;
    margin-bottom: 1em;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.total {
    display: flex;
}


