* {
    margin: 0;
    padding: 0;
}

body {
    background: #527B65;

}

header {
    background: #F8F8F0;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 5em;
    height: 5em;
}

.nav {
    background: #236154;
    display: flex;
    justify-content: space-around;
    font-size: 2.2em;
    padding: 5px;
}

a {
    background-color: #4B95A9;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin-left: 1em;
}

h1, h2, p {
    color:white;
    font-size:50px;
    margin-top: 1em;
    margin-left: 1em;
}


