* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #527B65;
    font-family: 'Trebuchet MS';
}

header {
    background: #F8F8F0;
    display: flex;
    justify-content: space-around;
}

header h1{
    display: flex;
    font-size:2em;
    color:black;
    align-items: center;
}

.button {
    width: 6em;
    height: 6em;
}

.logo {
    width: 5em;
    height: 5em;
}

.nav {
    background: #236154;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    padding: 5px;
}

a {
    background-color: #4B95A9;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 30px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);
}

a:hover {
    background-color: black;
    transition: background-color 500ms ease;
}

p {
    margin-top: 1em;
    color: white;
    font-size: 20px;
}

h2 {
    color: white;
    font-size:50px;
    text-align: center;
    margin: 10px;
}

header h1 {
    display: flex;
    font-size:2em;
    color:black;
    align-items: center;
}

h3, figcaption {
    color: white;
}

.photos {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    max-width:100%;
    height: auto;
}

.info, .reserve, .hours {
    background-color: #236154;
    padding: 1em;
    margin: 1em;
}

@media only screen and (max-width: 640px) {
    #products {
        padding: 1em;
        grid-template-columns: repeat(1, 1fr);
    }
}